# 第2章: UNIXコマンドの基礎
hightemp.txtは，日本の最高気温の記録を「都道府県」「地点」「℃」「日」のタブ区切り形式で格納したファイルである．以下の処理を行うプログラムを作成し，hightemp.txtを入力ファイルとして実行せよ．さらに，同様の処理をUNIXコマンドでも実行し，プログラムの実行結果を確認せよ．  
### 10.行数のカウント
行数をカウントせよ．確認にはwcコマンドを用いよ．

In [5]:
with open("./hightemp.txt") as f:
    print(len(f.readlines()))

24

In [4]:
%%bash 
wc -l hightemp.txt

      24 hightemp.txt

### 11.  タブをスペースに変換
タブ1文字につきスペース1文字に置換せよ．確認にはsedコマンド，trコマンド，もしくはexpandコマンドを用いよ．

In [6]:
with open("./hightemp.txt") as f:
    print(f.read().replace('\t',' '))

高知県 江川崎 41 2013-08-12
埼玉県 熊谷 40.9 2007-08-16
岐阜県 多治見 40.9 2007-08-16
山形県 山形 40.8 1933-07-25
山梨県 甲府 40.7 2013-08-10
和歌山県 かつらぎ 40.6 1994-08-08
静岡県 天竜 40.6 1994-08-04
山梨県 勝沼 40.5 2013-08-10
埼玉県 越谷 40.4 2007-08-16
群馬県 館林 40.3 2007-08-16
群馬県 上里見 40.3 1998-07-04
愛知県 愛西 40.3 1994-08-05
千葉県 牛久 40.2 2004-07-20
静岡県 佐久間 40.2 2001-07-24
愛媛県 宇和島 40.2 1927-07-22
山形県 酒田 40.1 1978-08-03
岐阜県 美濃 40 2007-08-16
群馬県 前橋 40 2001-07-24
千葉県 茂原 39.9 2013-08-11
埼玉県 鳩山 39.9 1997-07-05
大阪府 豊中 39.9 1994-08-08
山梨県 大月 39.9 1990-07-19
山形県 鶴岡 39.9 1978-08-03
愛知県 名古屋 39.9 1942-08-02

In [7]:
%%bash
sed s/$'\t'/$' '/g hightemp.txt

高知県 江川崎 41 2013-08-12
埼玉県 熊谷 40.9 2007-08-16
岐阜県 多治見 40.9 2007-08-16
山形県 山形 40.8 1933-07-25
山梨県 甲府 40.7 2013-08-10
和歌山県 かつらぎ 40.6 1994-08-08
静岡県 天竜 40.6 1994-08-04
山梨県 勝沼 40.5 2013-08-10
埼玉県 越谷 40.4 2007-08-16
群馬県 館林 40.3 2007-08-16
群馬県 上里見 40.3 1998-07-04
愛知県 愛西 40.3 1994-08-05
千葉県 牛久 40.2 2004-07-20
静岡県 佐久間 40.2 2001-07-24
愛媛県 宇和島 40.2 1927-07-22
山形県 酒田 40.1 1978-08-03
岐阜県 美濃 40 2007-08-16
群馬県 前橋 40 2001-07-24
千葉県 茂原 39.9 2013-08-11
埼玉県 鳩山 39.9 1997-07-05
大阪府 豊中 39.9 1994-08-08
山梨県 大月 39.9 1990-07-19
山形県 鶴岡 39.9 1978-08-03
愛知県 名古屋 39.9 1942-08-02

### 12. 1列目をcol1.txtに，2列目をcol2.txtに保存
各行の1列目だけを抜き出したものをcol1.txtに，2列目だけを抜き出したものをcol2.txtとしてファイルに保存せよ．確認にはcutコマンドを用いよ．

In [8]:
with open('./hightemp.txt') as f:
    col1 = open('./col1_py.txt','w')
    col2 = open('./col2_py.txt','w')
    col3 = open('./col3_py.txt','w')
    for row in f.readlines():
        row_split = row.split('\t')
        col1.write(row_split[0]+'\n')
        col2.write(row_split[1]+'\n')
        col3.write(row_split[2]+'\n')
    col1.close()
    col2.close()
    col3.close()

In [9]:
%%bash
cut -f1 hightemp.txt > col1.txt
cut -f2 hightemp.txt > col2.txt
cut -f3 hightemp.txt > col3.txt

### 13. col1.txtとcol2.txtをマージ
12で作ったcol1.txtとcol2.txtを結合し，元のファイルの1列目と2列目をタブ区切りで並べたテキストファイルを作成せよ．確認にはpasteコマンドを用いよ．

In [16]:
col1 = open('./col1_py.txt','r')
col2 = open('./col2_py.txt','r')
col1_row = col1.readlines()
col2_row = col2.readlines()
py_marge_ret = open('./marge_py_.txt','w')

for c1,c2 in zip(col1_row, col2_row):
    py_marge_ret.write(c1.replace('\n','')+'\t'+ c2)

col1.close()
col2.close()
py_marge_ret.close()

In [19]:
%%bash
paste ./col1.txt ./col2.txt > marge.txt

### 14 先頭からN行を出力
自然数Nをコマンドライン引数などの手段で受け取り，入力のうち先頭のN行だけを表示せよ．確認にはheadコマンドを用いよ．

In [20]:
n = int(input())
f = open('./hightemp.txt')
temp = f.readlines()
for i in range(n):
    print(temp[i].replace('\n',''))
f.close()

5
高知県	江川崎	41	2013-08-12
埼玉県	熊谷	40.9	2007-08-16
岐阜県	多治見	40.9	2007-08-16
山形県	山形	40.8	1933-07-25
山梨県	甲府	40.7	2013-08-10

In [22]:
%%bash
head -n 5 hightemp.txt

高知県	江川崎	41	2013-08-12
埼玉県	熊谷	40.9	2007-08-16
岐阜県	多治見	40.9	2007-08-16
山形県	山形	40.8	1933-07-25
山梨県	甲府	40.7	2013-08-10

### 15 末尾のN行を出力
自然数Nをコマンドライン引数などの手段で受け取り，入力のうち末尾のN行だけを表示せよ．確認にはtailコマンドを用いよ．

In [23]:
n = int(input())
f = open('./hightemp.txt')
temp = f.readlines()
for i in range(-n,0):
    print(temp[i].replace('\n',''))
f.close()

5
埼玉県	鳩山	39.9	1997-07-05
大阪府	豊中	39.9	1994-08-08
山梨県	大月	39.9	1990-07-19
山形県	鶴岡	39.9	1978-08-03
愛知県	名古屋	39.9	1942-08-02

In [24]:
%%bash
tail -n 5 hightemp.txt

埼玉県	鳩山	39.9	1997-07-05
大阪府	豊中	39.9	1994-08-08
山梨県	大月	39.9	1990-07-19
山形県	鶴岡	39.9	1978-08-03
愛知県	名古屋	39.9	1942-08-02

### 16 ファイルをN分割する
自然数Nをコマンドライン引数などの手段で受け取り，入力のファイルを行単位でN分割せよ．同様の処理をsplitコマンドで実現せよ．

In [25]:
Input = int(input())
f = open('./hightemp.txt')
row_f = f.readlines()
N = int(len(row_f)/Input)
haveNumberList = [N for i in range(Input)]
if sum(haveNumberList) != len(row_f):
    temp = len(row_f) - sum(haveNumberList)
    for i in range(temp):
        haveNumberList[i] +=1
print(haveNumberList)
for i,n in enumerate(haveNumberList):
#     print("".join(temp[0:8]))
    print("".join(row_f[i*n:(i+1)*n]))

5
[5, 5, 5, 5, 4]
高知県	江川崎	41	2013-08-12
埼玉県	熊谷	40.9	2007-08-16
岐阜県	多治見	40.9	2007-08-16
山形県	山形	40.8	1933-07-25
山梨県	甲府	40.7	2013-08-10

和歌山県	かつらぎ	40.6	1994-08-08
静岡県	天竜	40.6	1994-08-04
山梨県	勝沼	40.5	2013-08-10
埼玉県	越谷	40.4	2007-08-16
群馬県	館林	40.3	2007-08-16

群馬県	上里見	40.3	1998-07-04
愛知県	愛西	40.3	1994-08-05
千葉県	牛久	40.2	2004-07-20
静岡県	佐久間	40.2	2001-07-24
愛媛県	宇和島	40.2	1927-07-22

山形県	酒田	40.1	1978-08-03
岐阜県	美濃	40	2007-08-16
群馬県	前橋	40	2001-07-24
千葉県	茂原	39.9	2013-08-11
埼玉県	鳩山	39.9	1997-07-05

岐阜県	美濃	40	2007-08-16
群馬県	前橋	40	2001-07-24
千葉県	茂原	39.9	2013-08-11
埼玉県	鳩山	39.9	1997-07-05

In [29]:
%%bash
split -l 5 ./hightemp.txt ./hightemp_split.txt|cat ./hightemp_split.txtaa

高知県	江川崎	41	2013-08-12
埼玉県	熊谷	40.9	2007-08-16
岐阜県	多治見	40.9	2007-08-16
山形県	山形	40.8	1933-07-25
山梨県	甲府	40.7	2013-08-10

### 17. １列目の文字列の異なり
1列目の文字列の種類（異なる文字列の集合）を求めよ．確認にはsort, uniqコマンドを用いよ．

In [30]:
import pandas as pd
data = pd.read_csv('./hightemp.txt',header=None,sep='\t')
temp = data[0]
set(temp.values)

{'千葉県',
 '和歌山県',
 '埼玉県',
 '大阪府',
 '山形県',
 '山梨県',
 '岐阜県',
 '愛媛県',
 '愛知県',
 '群馬県',
 '静岡県',
 '高知県'}

In [32]:
%%bash
sort col1.txt > col1_sort.txt
uniq col1_sort.txt

千葉県
埼玉県
大阪府
山形県
山梨県
岐阜県
愛媛県
愛知県
群馬県
静岡県
高知県
和歌山県

### 18. 各行を3コラム目の数値の降順にソート
各行を3コラム目の数値の逆順で整列せよ（注意: 各行の内容は変更せずに並び替えよ）．確認にはsortコマンドを用いよ（この問題はコマンドで実行した時の結果と合わなくてもよい）．

In [34]:
hightemp_data = open('./hightemp.txt','r')
temp = list(map(lambda x :x.replace('\n','').split('\t'), hightemp_data.readlines()))
sorted(temp, key=lambda x:x[2])

[['千葉県', '茂原', '39.9', '2013-08-11'],
 ['埼玉県', '鳩山', '39.9', '1997-07-05'],
 ['大阪府', '豊中', '39.9', '1994-08-08'],
 ['山梨県', '大月', '39.9', '1990-07-19'],
 ['山形県', '鶴岡', '39.9', '1978-08-03'],
 ['愛知県', '名古屋', '39.9', '1942-08-02'],
 ['岐阜県', '美濃', '40', '2007-08-16'],
 ['群馬県', '前橋', '40', '2001-07-24'],
 ['山形県', '酒田', '40.1', '1978-08-03'],
 ['千葉県', '牛久', '40.2', '2004-07-20'],
 ['静岡県', '佐久間', '40.2', '2001-07-24'],
 ['愛媛県', '宇和島', '40.2', '1927-07-22'],
 ['群馬県', '館林', '40.3', '2007-08-16'],
 ['群馬県', '上里見', '40.3', '1998-07-04'],
 ['愛知県', '愛西', '40.3', '1994-08-05'],
 ['埼玉県', '越谷', '40.4', '2007-08-16'],
 ['山梨県', '勝沼', '40.5', '2013-08-10'],
 ['和歌山県', 'かつらぎ', '40.6', '1994-08-08'],
 ['静岡県', '天竜', '40.6', '1994-08-04'],
 ['山梨県', '甲府', '40.7', '2013-08-10'],
 ['山形県', '山形', '40.8', '1933-07-25'],
 ['埼玉県', '熊谷', '40.9', '2007-08-16'],
 ['岐阜県', '多治見', '40.9', '2007-08-16'],
 ['高知県', '江川崎', '41', '2013-08-12']]

In [35]:
%%bash
sort hightemp.txt -k 3

愛知県	名古屋	39.9	1942-08-02
山形県	鶴岡	39.9	1978-08-03
山梨県	大月	39.9	1990-07-19
大阪府	豊中	39.9	1994-08-08
埼玉県	鳩山	39.9	1997-07-05
千葉県	茂原	39.9	2013-08-11
群馬県	前橋	40	2001-07-24
岐阜県	美濃	40	2007-08-16
山形県	酒田	40.1	1978-08-03
愛媛県	宇和島	40.2	1927-07-22
静岡県	佐久間	40.2	2001-07-24
千葉県	牛久	40.2	2004-07-20
愛知県	愛西	40.3	1994-08-05
群馬県	上里見	40.3	1998-07-04
群馬県	館林	40.3	2007-08-16
埼玉県	越谷	40.4	2007-08-16
山梨県	勝沼	40.5	2013-08-10
静岡県	天竜	40.6	1994-08-04
和歌山県	かつらぎ	40.6	1994-08-08
山梨県	甲府	40.7	2013-08-10
山形県	山形	40.8	1933-07-25
埼玉県	熊谷	40.9	2007-08-16
岐阜県	多治見	40.9	2007-08-16
高知県	江川崎	41	2013-08-12

### 19. 各行の1コラム目の文字列の出現頻度を求め，出現頻度の高い順に並べる
各行の1列目の文字列の出現頻度を求め，その高い順に並べて表示せよ．確認にはcut, uniq, sortコマンドを用いよ．

In [36]:
import collections
hightemp_data = open('./hightemp.txt','r')
temp = list(map(lambda x :x.replace('\n','').split('\t'), hightemp_data.readlines()))
sorted_temp = list(map(lambda x:x[0], temp))
collections.Counter(sorted_temp).most_common()

[('埼玉県', 3),
 ('山形県', 3),
 ('山梨県', 3),
 ('群馬県', 3),
 ('岐阜県', 2),
 ('静岡県', 2),
 ('愛知県', 2),
 ('千葉県', 2),
 ('高知県', 1),
 ('和歌山県', 1),
 ('愛媛県', 1),
 ('大阪府', 1)]

In [37]:
%%bash
cut -f1 hightemp.txt | sort | uniq -c|sort -r

   3 群馬県
   3 山梨県
   3 山形県
   3 埼玉県
   2 静岡県
   2 愛知県
   2 岐阜県
   2 千葉県
   1 和歌山県
   1 高知県
   1 愛媛県
   1 大阪府